<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <div class="wrapper row">
    <header>

      <nav class="nav col-sm-9 col-md-7 col-lg-5">
        {{#if loggedIn}}
        <ul class="mt-3">
                <li>
                <a href="/">Home</a>
                </li>
                <li>
                <a id="dashboard">Dashboard</a>
                </li>
                <li>
                <a id="logout">Logout</a>
                </li>
        </ul>
        {{else}}
        <ul class="mt-3">
              <li>
              <a href="/">Home</a>
              </li>
              <li>
              <a href="/dashboard">Dashboard</a>
              </li>
              <li>
              <a href="/login">Login</a>
              </li>
        </ul>
        {{/if}}
      </nav>


    <div class="titlebox">
      
        <h1> The Tech Blog </h1>
    </div>

    </header>


    <main>
      {{{ body }}}
    </main>
    <footer>
        jasmin3ashl3y &copy;
    </footer>

  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>