<div class="container" id="loginContainer">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow my-5">
        <div class="card-body p-4 p-sm-5">


  <form class="login-form" id="signin-form">
    <div>
      <label for="username-login">Username</label>
      <input type="text" id="username-login"/>
    </div>
    <div>
      <label for="password-login">Password</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">Login!</button>
    </div>
    <h3 class="signup" id="switch-to-signup">Signup instead</h3>
  </form>

  <form class="signup-form">
    <div>
      <label for="username-signup">Username</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="password-signup">Password</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit">Signup!</button>
    </div>
    <h3 class="login" id="switch-to-login">Login instead</h3>
  </form>

        </div>
      </div>
    </div>
  </div>
</div>


<script src="/javascript/login.js"></script>